{{#if addNewQuestion}}
    <h2>Add a New Question</h2>
    <div>
        <form>

            <div class="form-group">
                <label for="authorQuestion">Enter your name or username</label>
                {{input class="form-control" value=authorQuestion id="authorQuestion" placeholder="Enter your name or usename"}}
            </div>

            <div class="form-group">
                <label for="questionTitle">Enter the question</label>
                {{input class="form-control" value=questionTitle id="questionTitle" placeholder="Enter the question"}}
            </div>

            <div class="form-group">
                <label for="contentQuestion">Enter details about the question</label>
                {{textarea rows="3" class="form-control" value=contentQuestion id="contentQuestion" placeholder="Enter details about the question"}}
            </div>

            <button class="btn btn-success" {{action 'saveQuestion'}}>Submit Your Question</button>

        </form>
    </div>
{{else}}
    <button class="btn btn-success" {{action 'showQuestionForm'}}>Add a question</button>
{{/if}}