<div class="col-md-6">

    <div class="well listOfQuestionsTile">
        {{!-- Render the most answered helper--}}
        {{most-answered question}}

        {{!-- Render the answers count computed property to show how many answers a question has --}}
        <small class="answerCountDisplay">
            <p>{{answersCount}}</p>    
        </small>
    
            {{!-- Display Question and Author --}}
            <li>
                
                {{!-- Link a question to page containing additional information --}}
                {{#link-to 'question' question.id}}

                    {{question.questionTitle}} 

                {{/link-to}}

                <br>

                by {{question.authorQuestion}}

            </li>

        {{!-- Check if the question is in the cart --}}
        {{#if question.inCart}}
            {{!-- Display message if question is alreadi in Question Cart --}}
            <div class="addedMessage">   
                Already in Favorite Question List
            </div>
        {{else}}
            {{!-- Add to Favourite Question Cart --}}
            <button class="btn btn-info addToFavoriteButton" {{action 'addToQuestionCart' question}} >Add To Favorite List</button>
        {{/if}}

    </div>

</div>
