<div class="col-md-6">

    <div class="well listOfQuestionsTile">
        {{!-- Render the most answered helper--}}
        {{most-answered question}}

        {{!-- Render the answers count computed property to show how many answers a question has --}}
        <small>
            <p>{{answersCount}}</p>    
        </small>
    

        {{!-- Link a question to page containing additional information --}}
        {{#link-to 'question' question.id}}

            {{!-- Display Question and Author --}}
            <li>{{question.questionTitle}} 
                <br>
                by {{question.authorQuestion}}
            </li>

        {{/link-to}}

        {{!-- Check if the question is in the cart --}}
        {{#if question.inCart}}
            {{!-- Display message if question is alreadi in Wuestion Cart --}}
            Already in Favorite Question List
        {{else}}
            {{!-- Add to Favourite Question Cart --}}
            <button class="btn btn-info" {{action 'addToQuestionCart' question}} >Add To Favorite Question</button>
        {{/if}}

    </div>

</div>
