<h2 class="questionPageHeader">{{model.questionTitle}} by {{model.authorQuestion}}</h2>

{{question-detail question=model}}

{{!-- Render the edit-question component --}}
{{edit-question question=model edit="edit"}}

{{!-- Render the new answer component --}}
{{new-answer question=model saveAnswer="saveAnswer"}}

